.G {
  color:black;
  font-size:42px;
/* width: 10px; */
  font-weight: bold;
  line-height: 1;
  text-align:center;
  }
.S {
  color:black;
  font-size:42px;
  font-weight: bold;
  line-height: 1.5;
  text-align:center;
  }
.GET {
  color:black;
  font-size:32px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 8px;
  }
.picture {
  margin:35px;
  height: 2px;
  width: 2px;
  border-radius: 2em; 
  position: relative;
  left:-100px;
  }

/* img{
  width:600px;
  height:600px;
} */

.O {
  color:gray;
  text-align: center;
  font-size:21px;
  position: relative;
  bottom: 680px;
  left:-340px; 
  }
.Use {
  color:gray;
  font-size:18px;
  }
.Online {
  color:gray;
  font-size:12px;
  margin: 15px;
/* position: relative;
left:200px;
bottom:300px; */
  }
.box {
  border:solid 2px #3058af;
  border-radius: 2em;
  width:200px;
  height:40px;
  color:#3058af;
/* padding-left: 10px; */
  padding-top: 10px;
  text-align: center;
  position: relative;
  left:460px;
  margin:30px;
/* background-color: #ffffff; */
  }

.tupian {
  width:650px;
  height:660px;
  border:1px solid #ffffff;
  border-radius:1.5em;
  }

.picture2 {
  position: relative;
  left:610px;
  bottom: 35px;

  }

.tupian2 {
  width:650px;
  height:660px;
  border:1px solid #ffffff;
  border-radius:1.5em;
  }

.allcontent {
  width:1200px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  }
.A {
  color:gray;
  font-size:19px;
  position: relative;
  bottom: 277px;
  left:700px; 
  }
  .YOU {
  color:black;
  font-size:32px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 8px;
  position: relative;
  bottom: 275px;
  left:685px; 
    }
.ATT {
  color:gray;
  font-size:18px;
  position: relative;
  bottom: 272px;
  left:700px; 
}

.jiacu {
  color:rgb(87, 81, 81);
  font-weight:700;
}
.plans {
  color:gray;
  font-size:12px;
  position: relative;
  bottom: 260px;
  left:698px;
  }
  .box2 {
  border:solid 2px #3058af;
  border-radius: 2em;
  width:175px;
  height:41px;
  color:#3058af;
  padding-top: 10px;
  text-align: center;
  position: relative;
  left:1185px;
  bottom: 230px;
  }